@import "tailwindcss";

.navMenuFont{
  font-size: 0.875rem;
  font-weight: 500;
  color: #414146;
  line-height: 20px;
}

/* hide scrollbar but keep scrolling */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none;     
}